################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/desafio1/obj/Debug
/.vs/desafio1/v15
/.vs/desafio1/v15
/.vs/desafio1/v15/.suo
/.vs/desafio1/v15
